.checkbox-container {
  height: 17px;
  width: 32px;

  &:after {
    left: -2px;
    width: 12px;
    height: 12px;
  }

  &.is-enabled:after {
    transform: translate3d(16px, 0, 0);
  }
}

input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='number'] {
  font-size: 15px;
}
