$header-height: $spacer-5;
$dock-width: $spacer-7;
$border-color: var(--color-auto-gray-3);

// Tabs
.workspace-tab-header-container {
  height: $header-height;
  padding-top: 0;
  border-style: solid;
  border-width: 0px 1px 1px 0;
  border-color: $border-color;
}

.workspace-tabs {
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: $border-color;
}

.workspace-tab-container-before,
.workspace-tab-container-after {
  width: 0;
}

.workspace-tab-header-inner {
  padding: 6px 12px 3px 12px;
  align-items: center;
}

.workspace-tab-header.is-active {
  border-radius: 0;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: var(--interactive-accent);
  margin-bottom: -1px;

  .workspace-tab-header-inner {
    padding-top: 4px;
  }

  border-left-color: $border-color;
  border-right-color: $border-color;

  &:first-child {
    margin-left: -1px;
  }

  &:last-child {
    margin-right: -1px;
  }
}

.workspace-tab-container-before.is-before-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active .workspace-tab-header-inner {
  border-bottom-right-radius: 0;
}

.workspace-tab-container-after.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-after-active .workspace-tab-header-inner {
  border-bottom-left-radius: unset;
}

.workspace-split.mod-root
  > .workspace-leaf:last-of-type
  .workspace-leaf-content {
  border-top-right-radius: 0;
}

.workspace-split.mod-root
  > .workspace-leaf:first-of-type
  .workspace-leaf-content {
  border-top-left-radius: 0;
}

// Handle
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  height: calc(100% - #{$header-height});
}

.view-header {
  height: $header-height;
  align-items: center;
}

.side-dock-ribbon {
  &.mod-left {
    flex: 0 0 $dock-width;
  }

  &.mod-right {
    // flex: 0 0 $dock-width;
  }
}

.workspace-ribbon-collapse-btn {
  display: inline-flex;
  justify-content: center;
  margin-top: $header-height;
}

.side-dock-settings {
  margin-bottom: 0;
}

.workspace-split.mod-left-split .workspace-tabs .workspace-leaf {
  border-top-left-radius: 0;
}

.workspace-split.mod-root
  > .workspace-leaf:first-of-type:last-of-type
  .view-header {
  border-width: 1px;
}

.workspace-tabs {
  background-color: var(--background-secondary);
  padding-right: 0;
}

.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  width: 1px;
}

.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
  height: 3px;

  &:after {
    width: 100%;
    height: 4px;
  }
}

.workspace-leaf-resize-handle {
  width: 3px;
  padding: 0 1px;

  background-color: transparent;

  &:after {
    content: '';
    position: absolute;
    left: 0px;
    height: 100%;
    width: 4px;
    background-color: var(--background-secondary-alt);
  }
}

.workspace-leaf-resize-handle:hover {
  background-color: transparent;

  &:after {
    background-color: rgba(var(--interactive-accent-rgb), 0.5);
  }
}

.titlebar {
  background-color: var(--titlebar-bg);

  .titlebar-inner {
    color: var(--titlebar-text);
  }
}

.modal {
  background-color: var(--color-bg-canvas);
  max-width: 90vw;
}

.modal-content {
  padding-right: 0;
}

.modal.mod-settings .vertical-tab-content-container {
  padding: 44px 0 0 0;
}

.modal.mod-community-plugin {
  width: 90vw;
}

.horizontal-tab-content,
.vertical-tab-content {
  background-color: var(--color-bg-canvas);
}

.vertical-tab-header {
  background-color: var(--color-bg-secondary);
}

// Navigation
.vertical-tab-nav-item {
  padding: $spacer-2 $spacer-3;
  color: var(--color-text-primary);
  border-bottom: $border-width $border-style var(--color-border-secondary);

  &:first-child,
  &:last-child {
    border-radius: 0;
  }

  &.is-active {
    border-left-color: var(--color-menu-border-active);
  }
}

.horizontal-tab-nav-item,
.vertical-tab-nav-item {
  background-color: var(--color-bg-primary);

  &.is-active {
    background-color: var(--color-menu-bg-active);
  }
}

::-webkit-scrollbar {
  width: 7px;
}

.workspace-split.mod-root
  > .workspace-leaf:first-of-type:last-of-type.mod-active
  .view-header-title-container:after {
  background: none;
}

.nav-file-title,
.nav-folder-title {
  margin-bottom: $spacer-1;
}

.nav-buttons-container {
  justify-content: flex-start;
}

.nav-action-button {
  padding: 5px 8px 5px 8px;
  margin: 0 0px 0px 0px;
}

.nav-header {
  padding: 10px 10px 0px 10px;
}

.status-bar-item-segment {
  font-family: SF Pro;
}
