@import '@primer/primitives/dist/scss/colors/light';
@import '@primer/primitives/dist/scss/colors/dark';

.theme-light {
  @include primer-colors-light;

  --cursor-color: var(--color-scale-blue-7);
}

.theme-dark {
  @include primer-colors-dark;

  --cursor-color: var(--color-scale-blue-2);
}

.theme-light,
.theme-dark {
  // Color overwrites
  --background-primary: var(--color-bg-primary);
  --background-primary-alt: var(--color-auto-gray-0);
  --background-secondary: var(--color-auto-gray-1);
  --background-secondary-alt: var(--color-auto-gray-2);

  // --background-modifier-border: #ddd;
  // --background-modifier-form-field: #fff;
  // --background-modifier-form-field-highlighted: #fff;
  // --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  // --background-modifier-success: #a4e7c3;
  // --background-modifier-error: var(--color-btn-danger-text);
  // --background-modifier-error-hover: var(--color-btn-danger-hoverText);
  // --background-modifier-cover: rgba(0, 0, 0, 0.8);

  --text-accent: var(--color-auto-blue-5);
  --text-accent-hover: var(--color-auto-blue-3);
  // --text-normal: #2e3338;
  // --text-muted: #888888;
  // --text-muted-rgb: 136, 136, 136;
  // --text-faint: #999999;
  // --text-error: var(--color-btn-danger-text);
  // --text-error-hover: var(--color-btn-danger-hoverText);
  // --text-highlight-bg: rgba(255, 255, 0, 0.4);
  // --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  // --text-selection: rgba(204, 230, 255, 0.99);
  // --text-on-accent: #f2f2f2;

  --interactive-normal: var(--color-btn-bg);
  --interactive-hover: var(--color-auto-gray-2);
  --interactive-accent: var(--color-auto-blue-4);
  --interactive-accent-rgb: 33, 136, 255;
  --interactive-accent-hover: var(--color-auto-blue-3);

  // --interactive-success: #197300;
  // --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
  // --scrollbar-bg: rgba(0, 0, 0, 0.05);
  // --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
  // --highlight-mix-blend-mode: darken;

  // Customized color variables
  --titlebar-bg: var(--color-bg-canvas);
  --titlebar-text: var(--color-text-secondary);

  --font-editor: 'iA Writer Duospace';
  --font-monospace: 'iA Writer Duospace';
}

.theme-dark {
  --interactive-accent-rgb: 56, 139, 253;
  --interactive-hover: var(--color-auto-gray-4);
}
